################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gbn_debug/.vs/gbn_debug/v16/Browse.VC.opendb
